body {
  padding: 20vh;
  font-family: Roboto;
}
.container {
  margin: auto;
  text-align: center;
  border: solid 2px black;
  border-radius: 5px;
  padding: 0;
  width: 60vw;
}

hr {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
}

button {
  margin: 5px;
  width: 150px;
  background-color: darkslategray;
  border: none;
  color: white;
  padding: 5px;
}
